<mat-toolbar color="background" class="mat-elevation-z2">
  <mat-toolbar-row>
    <button mat-icon-button (click)="goBack()">
      <mat-icon class="back-icon">arrow_back</mat-icon>
    </button>
    <span class="toolbar-title">{{bar.name}}</span>
    <button style="visibility:hidden;"><mat-icon></mat-icon></button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-list>

  <ng-container  *ngFor="let category of categories">
      <h3 *ngIf="category == drinkCategories.SOFT_DRINKS && !isEmptyCategory(category)" mat-subheader>Soft Drinks</h3>
      <h3 *ngIf="category == drinkCategories.BEER_WINE && !isEmptyCategory(category)" mat-subheader>Bier und Wein</h3>
      <h3 *ngIf="category == drinkCategories.SPIRITS && !isEmptyCategory(category)" mat-subheader>Spirituosen</h3>
      <h3 *ngIf="category == drinkCategories.MATERIAL && !isEmptyCategory(category)" mat-subheader>Zubehör</h3>
      <mat-list-item *ngFor="let entry of getDrinksOfCategory(category)">
        <h4 mat-line>{{entry.drink.name}}</h4>
        <div class="amount" *ngIf="entry.order.amount">{{entry.order.amount}}</div>
        <mat-slider min="0" max="{{5 * entry.drink.interval}}" step="entry.drink.interval" [(ngModel)]="entry.order.amount" thumbLabel></mat-slider>
      </mat-list-item>
      <mat-divider *ngIf="!isEmptyCategory(category)"></mat-divider>
  </ng-container >
</mat-list>

<button class="order-button" mat-raised-button color="primary" (click)="submitOrder()">
  Bestellen
</button>