/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
}

mat-toolbar {
    text-transform: uppercase;
    position: fixed;
    z-index: 10;
    top: 0;
}

mat-toolbar + .content {
    padding-top: 56px;
}

mat-toolbar .toolbar-title {
    flex: 1 1 auto;
    text-align: center;
}

.multi-line-snackbar {
    white-space: pre-wrap;
}