/* You can add global styles to this file, and also import other style files */
/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

html, body {
    margin: 0;
    font-family: Roboto, Arial, sans-serif;
    height: 100%;
    width: 100%;
}

mat-toolbar {
    text-transform: uppercase;
    position: fixed;
    z-index: 10;
    top: 0;
}

mat-toolbar + .content {
    padding-top: 56px;
}

mat-toolbar .toolbar-title {
    flex: 1 1 auto;
    text-align: center;
}

.multi-line-snackbar {
    white-space: pre-wrap;
}

.launcher {
    background-image: url('./assets/launch/launch.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center; 
    width: 100%;
    height: 100%;
}
